.home {
  display: flex;
  color: #5b5b5b;
  font-family: "Alatsi", sans-serif;

  .right-home {
    img {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  .left-home {
    padding: 30px;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
  .bleu {
    color: #38b6ff;
  }
  .container {
    align-items: flex-start;
    display: flex;
    position: absolute;

    .encart {
      margin-top: 300px;
      display: flex;

      .left-encart {
        background-color: white;
        border: red solid 2px;
        text-align: center;
      }
      .right-encart {
        background-color: white;
        border: red solid 2px;
        text-align: center;
      }
    }
  }
}
