.container-team {
  color: #5b5b5b;
  font-family: "Alatsi", sans-serif;
  .top-team {
    h1 {
      color: #38b6ff;
      margin-left: 70px;
      font-size: 24px;
      margin-top: 20px;
    }
    p {
      margin-left: 70px;
      margin-top: 10px;
    }
    .list-top-team {
      display: flex;
      flex-direction: column;

      margin-left: 70px;
      margin-top: 10px;
      gap: 10px;
      img {
        width: 30px;
        height: 30px;
      }
      span {
        padding: 10px;
      }
    }
  }

  .italic-team {
    font-style: italic;
    text-align: center;
  }

  .middle-team {
    h1 {
      color: #38b6ff;
      margin-left: 70px;
      font-size: 24px;
      margin-top: 10px;
    }
    p {
      text-align: justify;
      margin-right: 70px;
      margin-left: 70px;
      margin-top: 10px;
    }
  }
  .bottom-team {
    h1 {
      color: #38b6ff;
      margin-left: 70px;
      font-size: 24px;
      margin-top: 10px;
    }
    .container-photo {
      display: flex;
      justify-content: center;
      .photo {
        border-radius: 5px;
        width: 40%;
        -webkit-box-shadow: 1px 1px 10px -2px #000000;
        box-shadow: 1px 1px 10px -2px #000000;
      }
    }

    .team {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
