header {
  border: red solid 2px;
  width: 1000px;
  margin: 10px auto;
  background-color: white;
  display: flex;
  .left-header {
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      width: 120px;
      height: 50px;
    }
    img:hover {
      cursor: pointer;
    }
  }
  .right-header {
    display: flex;
    border: blue solid 2px;
    flex: auto;
    align-items: center;
    justify-content: flex-end;

    .contact {
      padding: 15px;
      display: flex;
    }
  }
}
