header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  margin: auto;
  font-family: "Alatsi", sans-serif;
  font-size: 14px;
  border-bottom: solid 1px grey;
  color: #5b5b5b;

  .left-header {
    img {
      object-fit: cover;
      width: 160px;
    }
    img:hover {
      cursor: pointer;
    }
  }

  .right-header {
    .contact {
      width: 700px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .button {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    button {
      background-color: #38b6ff;
      border: none;
    }
    button:hover {
      background-color: #38b6ff;
      border: none;
      cursor: pointer;
    }
  }
}

//EFFET TRANSITION DE LA BARRE DE MENU

.nav-menu {
  background-color: white;
  border: none;
  color: #5b5b5b;
  outline: none;
  position: relative;
}
.nav-menu:before,
.nav-menu:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.nav-menu:before {
  border-top: 2px solid #38b6ff;
  left: 0px;
  top: -5px;
}
.nav-menu:after {
  border-bottom: 2px solid #38b6ff;
  bottom: -5px;
  right: 0px;
}
.nav-menu:hover:before,
.nav-menu:hover:after {
  height: 100%;
  width: 100%;
}
.nav-menu:hover {
  color: #38b6ff;
  cursor: pointer;
}

// EFFET TRANSITION SOS RENFORT

.nav-menu-renfort {
  background-color: white;
  border: none;
  color: #38b6ff;
  outline: none;
  position: relative;
}
.nav-menu-renfort:before,
.nav-menu-renfort:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.nav-menu-renfort:before {
  border-top: 2px solid #5b5b5b;
  left: 0px;
  top: -5px;
}
.nav-menu-renfort:after {
  border-bottom: 2px solid #5b5b5b;
  bottom: -5px;
  right: 0px;
}
.nav-menu-renfort:hover:before,
.nav-menu-renfort:hover:after {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .nav-menu-renfort {
    display: none;
  }
}
